/* ERIC MEYER CSS RESET */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */
html,body {
	background-color: #F6F8FB;
}
html, *, :hover {transition: all 0.2s linear;}
/*********************** HEADER // NAVIGATION ***********************/
header {
	background-image: linear-gradient(to right, #1f1d36, #4d4d4d);
	height: 78px;
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	-webkit-transition: top .5s;
	transition: top .5s;
}

header nav {
	position: absolute;
	right: 0;
    right: 5vw;
    top: 31px;
}
header nav a, footer nav a {
	color: #fff;
	font-size: 1rem;
	letter-spacing: .07rem;
	margin-left: 2rem;    
}
a.active, a:hover, #attributes h3 {
	color: #79EAB9;
}
a.logo {
	display: inline-block;
	background: url("../images/logo-wordmark.svg") no-repeat;
	background-size: cover;
	font-size: 0px;
	line-height: 0px;
	width: 212px;
	height: 22px;
	position: absolute;
	left: 4vw;
	top: 27px;
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/**************************** TYPOGRAPHY ****************************/
html {
	font-family: "Forza SSm A", "Forza SSm B", Forza, sans-serif;
	font-style: normal;
}
strong {
	font-weight: 500;
}
a {
	font-family: "Forza SSm A", "Forza SSm B", Forza, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 300;
	cursor: pointer;
	transition: all 0.2s linear;
	color: #7f7cbb;
}
h1 {
	font-family: Georgia;
	font-size: 4.4vw;
	line-height: 4.87vw;
	letter-spacing: -.07rem;
	font-weight: normal;
	color: #000000;
}
h1 strong {
	font-weight: bold;
	font-size: 8.8vw;
	line-height: 8vw;
	display: block;
}
h3 {
	font-size: 1.4rem;
	line-height: 2rem;
	margin: 0 auto 4rem;
	font-weight: 100;
}
p {
	font-family: "Forza SSm A", "Forza SSm B", Forza, sans-serif;
	font-size: 1.4rem;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: 0.6px;
	color: #000000;
}
/********************** OBJECTS/POSITIONING **************************/


ul li {
	display: inline-block;
}
ul.toggle li {
	display: block;
}
.logomark {
	background-image: url("../images/logomark.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: -2rem;
	background-position-y: -6rem;
}
progress {
	display: block;
	margin: 0 auto;
    position: absolute;
	bottom: 18%;
	width: 76vw;
	left: 50%;
	margin-left: -38vw;
	background: #D8E4EE;
	height: 6px;
	z-index: 96;
	border: solid 1px #C7CDD3;
	border: solid .5px #fff;
}
progress::-webkit-progress-bar {
	background: #D8E4EE;
}
progress::-webkit-progress-value {
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%,#7fceea 50%,#89cda8 100%); 
}
progress::-moz-progress-bar {
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%); 
	background: -webkit-linear-gradient(left, #7f7cbb 0%,#7fceea 50%,#89cda8 100%); 
	background: linear-gradient(to right, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
}
video {
	width: 100%;
	margin-bottom: -1vh;
	position: relative;
	background: #fff;
	animation: fade-in;
}

.video-gradient {
	height: 12vw;
	width: 100%;
	z-index: 95;
	position: absolute;
	background: -moz-linear-gradient(top, rgba(246,248,251,1) 0%, rgba(246,248,251,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,251,1) 0%,rgba(246,248,251,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,251,1) 0%,rgba(246,248,251,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.vid-nav {
	bottom: 4vw;
	position: absolute;
	left: 50%;
	margin-left: -45%;
	display: flex;
	justify-content: space-around;
	width: 90%;
}

#injectable .vid-nav {
	width: 70%;
	margin-left: -35%;
}
.vid-nav li {
    position: relative;
    text-align: left;
	white-space: nowrap;
	max-width: 92px;
}
.vid-nav li:last-child { margin: 0;}
.vid-nav li a {
	text-align: left;
	display: block;
	color: #000;
	font-size: 1.2rem;
	line-height: 1.6rem;
	letter-spacing: .025rem;
}

.vid-nav li a:hover {
	color: #7f7cbb;
	color: #89cda8;
}
.vid-nav li a::before {
	content:"";
	display: inline-block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: -46px;
	background-size: contain;
}
.vid-nav li a#vid1-1::before {
	width: 37px;
	background: url("../images/moldable_icon.svg") no-repeat;
}
.vid-nav li a#vid1-2::before, .vid-nav li a#vid2-2::before {
	background: url("../images/wash_icon.svg") no-repeat;
}
.vid-nav li a.playing#vid1-1::before {
	background: url("../images/moldable_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-2::before, .vid-nav li a.playing#vid2-2::before {
	background: url("../images/wash_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-3::before, .vid-nav li a.playing#vid2-3::before {
	background: url("../images/conform_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-4::before {
	background: url("../images/compress_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-5::before {
	background: url("../images/wet_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-6::before {
	background: url("../images/no_mess_icon_active.svg") no-repeat;
}
.vid-nav li a#vid1-3::before, .vid-nav li a#vid2-3::before {
	background: url("../images/conform_icon.svg") no-repeat;
}
.vid-nav li a#vid1-4::before {
	background: url("../images/compress_icon.svg") no-repeat;
}
.vid-nav li a#vid1-5::before {
	background: url("../images/wet_icon.svg") no-repeat;
}
.vid-nav li a#vid1-6::before {
	height: 36px;
	background: url("../images/no_mess_icon.svg") no-repeat;
}
.vid-nav li a#vid2-1::before {
	background: url("../images/injectable_icon.svg") no-repeat;
}
.vid-nav li a.playing#vid2-1::before {
	background: url("../images/injectable_icon_active.svg") no-repeat;
}
.vid-nav li a#vid2-4::before {
	background: url("../images/clock_icon.svg") no-repeat;
	background-size: 95%;
}
.vid-nav li a.playing#vid2-4::before {
	background: url("../images/clock_icon_active.svg") no-repeat;
}
.vid-nav li a.playing {
	animation: pulse-vid-nav 1s ease-in-out infinite alternate; 
}
@keyframes pulse-vid-nav {
  0% {
    color: #7f7cbb;
  }
  50% {
    color: #7fceea;
  }
  100% {
    color: #89cda8;
  }
}


.cube {
  width: 40%;
  height: 40%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(  -16deg ) rotateY(  -25deg );
  left: 27%;
  top: 30%;
}

.cube figure {
  margin: 0;
  width: 120%;
  height: 100%;
  display: block;
  position: absolute;
}


.cube figure.coronal {
	/* THIS IS THE VERTICAL-FRONT-FACING SLICE*/
	background: #7fceea;
	opacity: .8;
}
.cube figure.sagittal {
	/* THIS IS THE VERTICAL-SIDE-FACING SLICE*/
	transform: rotateY(90deg) translateY(0px);
	background: #7f7cbb;
	opacity: .8;
} 

.cube figure.axial {
	/* THIS IS THE SIDEWAYS SLICE*/
	transform: rotateX(-90deg) translateY(0px);
	background: #79EAB9;
	opacity: .8;
}


.cube#axial figure.sagittal,
.cube#axial figure.coronal {
	opacity: .1;
	background: #1f1d36;
}


.cube#sagittal figure.axial,
.cube#sagittal figure.coronal {
	opacity: .1;
	background: #1f1d36;
}
 	
.cube#coronal figure.axial,
.cube#coronal figure.sagittal {
	opacity: .1;
	background: #1f1d36;
}	

.cube#axial figure.coronal,
.cube#sagittal figure.coronal,
.cube#coronal figure.sagittal {
	opacity: .05;
}

/********************* HOME *********************/
#intro {
	position: relative;
	padding: 12vw 0 8vw 12vw ;
}
#intro h1 {
	white-space: nowrap;
}
#intro p {
	font-size: 1.4rem;
}

.home #intro p, .contact #intro h2 {
	position: relative;
	left: 34vw;
	top: -6vh;
	max-width: 42vw;
	font-weight: 100;
}
#novogro, #zoom{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.novogro {
	position: absolute;
	top:6vw; 
	left:8vw;
	font-size: 0px;
	line-height: 0px;
	display: inline-block;
	background: url("../images/novogro.svg") no-repeat;
	background-size: contain;
	width:38%;
	height:24%;
	z-index:99;
}
.toggle {
	position: absolute;
	z-index: 999;
	left: 19vw;
	top: 22vw;
	font-size: 2vw;
	font-size: 2rem;
	line-height: 4vw;
	line-height: 4rem;
}
.toggle a {
	text-transform: none;
	color: #2e2d38;
	opacity: 0.5;
	transition: all 0.5s ease;
}
.toggle a.active, .toggle a:hover {
	opacity: 1;
	color: #000;
	transition: all 0.5s ease;
}
.toggle a.active::before {
	content:"";
	display: inline-block;
	background: url("../images/arrow.svg") no-repeat;
	width: 1rem;
	height: .8rem;
	width: 2vw;
	height: 1.4vw;
	background-size: contain;
	margin-right: .6vw;	
	transition: all 0.5s ease;
}
#putty {
	position: relative;
}
#injectable {
	display: none;
}
#attributes {
	background-color: #2E2D38;
	padding: 4rem;
	color: #fff;
	z-index: 97;
	text-align: center;
	margin-top: -3px;
}

#attributes ul {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}
#attributes ul li:before {
	content:"";
	display: block;
	width: 40px;
	height: 30px;
	margin: 0 auto 1.5rem;
	background-repeat: no-repeat;
	background-size: contain;
}
#zero-exotherm:before {
	background: url("../images/exotherm_icon.svg");
}
#ph-neutral:before {
	background: url("../images/ph_icon.svg");
}
#weeks:before {
	background: url("../images/growth_icon.svg");
}

#zoom {
	padding: 6rem 0;
}
		
#zoom .toggle {
	top: 12vw;
}
.zoom-nav {
	position: absolute;
}
.zoom-nav li {
	position: absolute;
	display: block;
	border-radius: 100%;
	border: solid 10px #fff;
	padding: 3px;
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
}
.zoom-nav li a {
	display: block;
	width: 3.25vw;
	height: 3.25vw;
	border-radius: 100%;
	color: #000;
	background: #fff;
    text-align: center;
	padding-top: 1.25vw;
	font-size: 1vw;
}

.zoom-nav li.selected, .zoom-nav li.selected:hover {
	transform: scale(1.5);
	position: relative;
	z-index: 888;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

.zoom-nav li.selected {
	animation-name: pulse;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
		background: #7f7cbb;
	}
	50% {
		background: #7fceea;
	}
    100% {
		background: #89cda8;
	}
}

.zoom-nav li.selected a {
	animation-name: pulse-text;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}
@keyframes pulse-text {
    0% {
		color: #7f7cbb;
	}
	50% {
		color: #7fceea;
	}
    100% {
		color: #89cda8;
	}
}


.zoom-nav li:hover {
	transform: scale(1.25);
}


#histology .zoom-nav li.first {
	top: 8vw;
	left: 2vw;
}

#histology .zoom-nav li.second {
	top: 17.5vw;
	left: -2vw;
}
#histology .zoom-nav li.third {
	top: 28vw;
	left: -1.5vw;
}
#histology .zoom-nav li.fourth {
	top: 37vw;
	left: 2vw;
}



#ct .zoom-nav li.first {
	top: 8vw;
	left: 2vw;
}

#ct .zoom-nav li.second {
	top: 22.5vw;
	left: -2vw;
}
#ct .zoom-nav li.third {
	top: 37vw;
	left: 2vw;
}
	
.zoom-image-container {
	position: relative;
	float: right;
	width: 50vw;
	height: 50vw;
	margin-right: -3vw;
	border-radius: 100%;
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
}
.zoom-image-container .images {
	background: #fff;
	width: 38vw;
	height: 38vw;
	border-radius: 100%;
	margin: 0 auto;
	position: relative;
	top: 6vw;
}
.zoom-image-container .images .image {
	width: 34vw;
	height: 34vw;
	margin: 0 auto;
	border: solid 3px #88CDAF;
    border-radius: 100%;
    position: absolute;
    top: 2vw;
	left: 2vw;
	overflow: hidden;
	background-position: center center;
	background-size: 112%;
}

.zoom-text-container {
	position: absolute;
	left: 19vw;
	top: 26vw;
	z-index: 1;
	max-width: 300px;
	
}
.zoom-text-container h2 {
	font-size: 5.4rem;
	font-weight: 200;
}
.zoom-text-container h2 span {
	font-size: 1.5rem;
	display: block;
	/*text-transform: uppercase;*/
}

.zoom-text-container p {
	font-size: 22px;
	line-height: 2.6rem;
	margin: 4rem 0;
}

.zoom-text {
	position: absolute;
	top: 0;
	width: 300px;
}


#histology .images .first.six {
	background-image: url("../images/histology/6-125.jpg");
	background-color: #7f7cbb;
}
#histology .images .first.twelve {
	background-image: url("../images/histology/12-125.jpg");
	background-color: #7f7cbb;
}

#histology .images .second.six {
	background-image: url("../images/histology/6-10.jpg");
	background-color: #7fceea;
}
#histology .images .second.twelve {
	background-image: url("../images/histology/12-10.jpg");
	background-color: #7fceea;
}
#histology .images .third.six {
	background-image: url("../images/histology/6-20.jpg");
	background-color: #89cda8;
}
#histology .images .third.twelve {
	background-image: url("../images/histology/12-20.jpg");
	background-color: #89cda8;
}

#histology .images .fourth.six {
	background-image: url("../images/histology/6-40.jpg");
	background-color: #7f7cbb;
}
#histology .images .fourth.twelve {
	background-image: url("../images/histology/12-40.jpg");
	background-color: #7f7cbb;
}

#ct .images .first.six {
	background-color: #7f7cbb;
}
#ct .images .first.twelve {
	background-color: violet;
}
#ct .images .second.six {
	background-color: #7fceea;
}
#ct .images .second.twelve {
	background-color: magenta;
}
#ct .images .third.six {
	background-color: #89cda8;
}
#ct .images .third.twelve {
	background-color: pink;
}
.hidden {
	opacity: 0;
	transform: scale(0);
}
.visible {
	opacity: 1;
	transform: scale(1);
}

#ct {
	display: none;
}
.stupid {
	border: solid 22px red;
}
#ct .zoom-image-container {
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left,  -10%, #7fceea 60%, #89cda8 120%);
	background: -webkit-linear-gradient(left, #7f7cbb -10%,#7fceea 60%,#89cda8 120%);
	background: linear-gradient(to right, #7f7cbb -10%,#7fceea 60%,#89cda8 120%);
}


/******************************* TEAM ******************************/
#team {
	position: relative;
	margin-top: -28vw;
}

.team.logomark, .contact.logomark {
	background-image: url("../images/logomark.svg");
	background-repeat: no-repeat;
	background-size: 120%;
	background-attachment: fixed;
	background-position: 0;
	background-position-y: -6rem;
}
.team #intro {
	padding: 14vw 0 8vw 7vw;
}

.team #intro p {
    width: 32%;
    margin: 3rem 0 0;
}
.team h3 {
	margin: 0;
}
picture {
	display: block;
	background: #7f7cbb;
	width: 100%;
	height: 18vw;
	overflow: hidden;
	position: relative;
}
.team-members picture img {
	position: absolute;
	width: 105%;
	left: -5%;
}

.team-members picture img.aaron {
	width: 114%;
	top: -16%;
}

.team-members {
	padding-left: 14vw;
}
.team-members li {
	display: inline-block;
	width: 32.8%;
	vertical-align: top;
	margin: 0 .1rem 6rem 0;
}
.team-members li:first-child {
	margin-left: 32%;
}
.team-members li h3 {
	margin: 1.5rem 0 1rem;	
	font-size: 1.6rem;
}
.team-members li h4 {
	font-weight: 600;
	margin: 1rem 0;
}
.team-members li p {
	font-size: 1rem;
}

.team-members li .text-container {
	padding-right: 4vw;
}

/**************************** CONTACT ******************************/
.contact.logomark {
	background-position-y: -12rem;
}

.contact #intro h2 {
	font-size: 1.6rem;
	line-height: 2.6rem;
}
.contact #intro h2 strong {
	font-size: 2rem;
	font-weight: 400;
}
.contact #intro h2 a {
	display: block;
	margin-top: 1rem;
	font-size: 80%;
}

.contact iframe {
	display: block;
	width: 87%;
	height: 50vw;
	margin: 0 0 0 13%;
}

/**************************** FOOTER *******************************/

footer {
	padding: 8rem 8rem 4rem;
	background: #2E2D39 url("../images/pattern.svg");
	background-size: 25%;
	color: #fff;
}

footer nav a:first-child {
	margin: 0;
}

footer p {
	color: #fff;
	font-size: 22px;
}

footer h2 {
	font-family: "Georgia", serif;
	font-size: 3.6rem;
	margin-bottom: 3rem;
	white-space: nowrap;
}
.footnote {
	text-align: right;
	margin: 0 3.25rem 0 0;
}

footer a.logo {
	position: static;
}

footer .left p {
	max-width: 500px;
}

footer .section-two {
	padding-top: 12rem;
}

p.legal {
	font-size: 13px;
	margin: 1.6rem 0 2rem;
}

.ut p {
	font-size: 14px;
    float: right;
    max-width: 400px;
}

.ut p:before {
	content:"";
	float: left;
	background: url("../images/ut.png") no-repeat;
	background-size: contain;
	width: 51px;
	height: 55px;
	margin: .6rem 2rem 0 0;
}

.left, .right {
	display: inline-block;
	width: 49.3%;
}
.mailto {
	color: #79EAB9;
	text-transform: none;
	font-family: "Georgia";
	font-size: 32px;
	display: block;
	margin: 2rem 0 0;
}



/*************************** MEDIA QUERIES *************************/

@media screen and (min-width: 1800px){
	.team-members li h3 {
		margin: 2rem 0 1rem;	
		font-size: 2.4rem;
	}
	.team-members li h4 {
		margin: 1.4rem 0;
		font-size: 1.2rem;
	}
	.team-members li p {
		font-size: 1.4rem;
	}
}


@media screen and (max-width: 1480px) {
	.vid-nav li a {
		font-size: .9rem;
		line-height: 1.4rem;
	}
	footer {
		padding: 8rem 6rem 4rem;
	}
	.zoom-text-container, #zoom .toggle {
		left: 10vw;
	}
	.team #intro h1 {
		padding-top: 2vw;
	}
	#team {
		margin-top: -32vw;
	}
}
@media screen and (max-width: 1300px) {
	.zoom-image-container {
		width: 60vw;
		height: 60vw;
	}
	.zoom-image-container .images {
		width: 47vw;
		height: 47vw;
		top: 6vw;
	}
	.zoom-image-container .images .image {
		width: 41vw;
		height: 41vw;
		left: 3vw;
		top: 3vw;
	}
	.zoom-nav li a {
		width: 4.25vw;
		height: 4.25vw;
		font-size: 1.5vw;
		padding-top: 1.5vw;
	}
	#ct .zoom-nav li.first {
	    left: 3vw;
	    top: 7vw;
	}
	#ct .zoom-nav li.second {
	    top: 27vw;
	    left: -3.25vw;
	}
	#ct .zoom-nav li.third {
	    top: 45vw;
	    left: 3vw;
	}
	.zoom-text {
		width: 270px;
		top: 4vw;
	}
	.team #intro h1 {
		padding-top: 2vw;
	}
	#team {
		margin-top: -38vw;
	}
	.contact iframe {
		height: 75vw;
	}
}
@media screen and (max-width: 1200px) {
	.vid-nav li a {
		font-size: .8rem;
		line-height: 1.2rem;
	}
	#attributes ul {
		font-size: 1.2rem;
	}
	.toggle {
		font-size: 24px;
		line-height: 40px;
	}
	footer {
		padding: 6rem 4rem 4rem;
	}
	.zoom-text-container p {
		font-size: 18px;
		margin: 3rem 0;
	}
	.zoom-text-container h2 {
		font-size: 4.4rem;
	}
	.zoom-text-container h2 span {
		font-size: 1.25rem;
	}
	.zoom-nav li {
		border: solid 6px #fff;
	}
	.contact #intro h2 {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
	.contact #intro h2 strong {
		font-size: 1.8rem;
	}
	.contact #intro h2 a {
		display: block;
		margin-top: .8rem;
	}
	.home #intro p, .contact #intro h2 {
		top: -3vh;
	}
	
}
@media screen and (max-width: 1024px) {
    #intro {
    	padding: 14vw 0 8vw 8vw;
		padding: 16vw 0 8vw 80px;
    }
	#intro h1 {
		font-size: 7.4vw;
		line-height: 7.87vw;
	}
	#intro h1 strong {
		font-size: 11.8vw;
		line-height: 11vw;
	}
	#intro p, { font-size:1.2rem; }
	.home #intro p,
	.contact #intro h2 {
    	left: 0vw;
		top: 2.4rem;
		max-width: 62vw;
		padding: 2vw 0 0 .9vw;
    }
	.novogro {
		width: 42%;
		height: 25%;
		left: 60px;
	}
	.toggle {
		left: 180px;
	}
	#zoom .toggle {
		top: 18vw;
	}
	.zoom-text-container, #zoom .toggle {
		left: 8vw;
	}
	.zoom-text-container {
		top: 30vw;
	}
	progress {
		bottom: 22%;
		width: 87vw;
		left: 44%;
	}
	.vid-nav {
		bottom: 2.5vw;
	}
	.vid-nav li a {
		font-size: 12px;
		line-height: 19px;
		letter-spacing: .025rem;
	}
	.vid-nav li a::before {
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		left: 0;
		top: -6px;
		background-size: contain;
	}
	.contact .text-container {
		margin-bottom: 3rem;
	}
	.contact iframe {
		height: 75vw;
		margin: 0;
		width: 100%;
	}
	#team {
		margin-top: 0;
	}
	.team #intro p {
		width: 75%;
		margin-top: 1rem;
	}
	.team-members {
		padding: 0 2vw 0 7vw;
	}
	.team-members li:first-child {
		margin-left: 0;
	}
	
}
@media screen and (max-width: 980px) {
	footer .section-two {
		padding-top: 6rem;
	}
	.section-one .left,
	.section-one .right,
	.section-two .left,
	.section-two .right {
		width: 100%;
	} 
	.footnote {
		text-align: left;
		margin: 4rem 0 0;
	}
	.ut p {
		float: none;
		margin-top: 6rem;
	}
	.footnote { margin: 1rem 0 0; }
	.zoom-text {
		width: 220px;
	}
	.zoom-text-container p {
		line-height: 2rem;
		font-size: 16px;
	}	
	.zoom-text-container h2 {
		font-size: 3.4rem;
	}
	.zoom-text-container h2 span {
		font-size: 1rem;
	}
	progress {
		bottom: 26%;
	}
	.toggle a.active::before {
		width: 2.5vw;
		height: 1.8vw;
	}
	
}
@media screen and (max-width: 940px) {
	.team #intro p {
		width: 90%;
	}
	.team-members li {
		width: 48.8%;
	}
	picture {
		height: 28vw;
	}
}
@media screen and (max-width: 768px) {
    #intro {
    	padding: 22vw 0 10vw 18vw;
		padding: 160px 0 10vw 110px;
    }
	.novogro {
		left: 28px;
		width: 50%;
	}
	progress {
		bottom: 18vw;
	}
	video {
		width: 120%;
		left: -20%;
	}
	.toggle {
		top: 26vw;
		left: 18.2vw;
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
	.vid-nav {
		bottom: 3.5vw;
	}
	#intro p,
	.contact #intro h2 {
		font-size: 19px;
	}
	.home #intro p,
	.contact #intro h2 {
		padding: 0;
	}
	#attributes h3 {
		margin: 0 auto 2rem;
		padding: 0 4rem;
	}
	#attributes ul {
		display: block;
		font-size: 1.2rem;
	}
	#attributes ul li {
		display: block;
		width: 100%;
		margin: 4rem auto 2rem;
	}
	#attributes ul li:last-child {
		margin-bottom: 0;
	}
	footer h2 {
		font-size: 3rem;
		white-space: normal;
	}
	.zoom-nav {
		left: -1.5vw;
	}
	.zoom-nav li {
		border: solid 5px #fff;
	}
	.zoom-nav li a {
		width: 6.25vw;
		height: 6.25vw;
		font-size: 2vw;
		padding-top: 2.25vw;
	}
	.zoom-text {
		width: 200px;
	}
	.contact #intro h2 {
		line-height: 2rem;
	}
	.team-members li {
		margin-bottom: 3.5rem;
	}
}
@media screen and (max-width: 600px) {
	*::-webkit-media-controls-panel {
	  display: none!important;
	  -webkit-appearance: none;
	}

	/* Old shadow dom for play button */

	*::--webkit-media-controls-play-button {
	  display: none!important;
	  -webkit-appearance: none;
	}

	/* New shadow dom for play button */

	/* This one works */

	*::-webkit-media-controls-start-playback-button {
	  display: none!important;
	  -webkit-appearance: none;
	}
	progress {
		bottom: initial;
		top: 58%;
		display: none;
	}
	video {
		width: 100%;
		left: 0%;
	}
	.vid-nav, #injectable .vid-nav {
		position: relative;
		display: block;
		left: initial;
		margin-left: initial;
		width: auto;
		bottom: initial;
		padding: 1rem 0 2.5rem;
	}
	.vid-nav li {
		display: block;
		max-width: 100%;
		padding-left: 14vw;
	}
	.vid-nav li a {
		display: block;
		padding: .55rem;
	}
	.vid-nav li a::before {
		display: inline-block;
		top: 10px;
		margin-right: 1rem;
	}
	.vid-nav li br { display: none;}
	header a.logo {
		background: url("../images/mark-full.svg") no-repeat;
		background-size: contain;
		background-position: center center;
		height: 30px;
		width: 44px;
		top: 14px;	
	}
	.logomark { background-position-y: -3rem;}
	header { height: 58px;}
	header nav { top: 21px;}
	header nav a {
		font-size: .8rem;
		margin-left: 1.5rem;
	}
    #intro {
    	padding: 120px 0 8vw 12vw;
    }
	#attributes { padding: 4rem 2rem;}
	#attributes h3 {
		margin: 0 auto;
		padding: 0;
	}
	#attributes ul {
		display: block;
		font-size: 1.2rem;
	}
	#attributes ul li {
		display: block;
		width: 100%;
		margin: 4rem auto 2rem;
	}
	#attributes ul li:last-child {
		margin-bottom: 0;
	}
	footer {padding: 4rem 3rem 2rem;}
	footer h2 {
		margin-bottom: 1rem;
	}
	.mailto {margin: 1rem 0 0;}
	#zoom {
		padding: 8rem 0 14rem;
	}
	#zoom .toggle {
		top: 6vw;
	}
	.zoom-text-container {
		top: 114vw;
	}
	.zoom-text-container p {
		margin: 1.5rem 0;
	}
	.zoom-text {
		top: 2vw;
		width: 360px;
	}
	.zoom-image-container {
		width: 90vw;
		height: 90vw;
	}
	.zoom-image-container .images {
		width: 74vw;
		height: 74vw;
		top: 7.5vw;
	}
	.zoom-image-container .images .image {
		width: 64vw;
		height: 64vw;
		left: 5vw;
		top: 5vw;
	}
	.zoom-nav li a {
		width: 10vw;
		height: 10vw;
		font-size: 3.5vw;
		padding-top: 3.5vw;
	}
	#ct .zoom-nav li.second {
	    top: 38vw;
	    left: -5.25vw;
	}
	#ct .zoom-nav li.third {
		top: 67vw;
	}
	#ct .contact #intro h2 {
		font-size: 1.2rem;
	}
	.team-members li {
		width: 96.8%;
	}
	picture {
		height: 56vw;
	}
	.vid-nav li a.playing {
		animation: none;
	}
	.toggle a.active::before {
		width: 4vw;
		height: 2.5vw;
	}
}
@media screen and (max-width: 480px) {
	header nav a {
		font-size: .8rem;
		margin-left: .8rem;
	}
	#intro h1 {
	    font-size: 10vw;
	    line-height: 10vw;
	}
	#intro h1 strong {
	    font-size: 17vw;
	    line-height: 17vw;
	}	
	
	#intro p {font-size: 3.6vw;}
	.home #intro p,
	.contact #intro h2 {
		max-width: 82vw;
		padding: 0 0 12vw;
	}
	.novogro {
		left: 44px;
		top: 0;
	}
	video {
		width: 150%;
		margin: 0 0 5rem -40%;
	}

	footer {padding: 4rem 2rem 2rem;}
	footer h2 { font-size: 2rem;}
	footer p { font-size: 18px;}
	footer nav a{ font-size: 12px;	}
	.mailto {font-size: 22px;}
	.ut p:before {
		display: block;
		float: none;
		margin-bottom: 1rem;
	}
	.zoom-text-container {
		top: 124vw;
	}
	.contact #intro h2 {
		font-size: 1rem;
		line-height: 1.6rem;
	}
	#putty .vid-nav {
		padding-bottom: 9.5rem;
	}
	.vid-nav li {
		padding-left: 6vw;
	}
	.toggle {
	    top: 90vw;
		top: 390px;
	    left: 7.2vw;
	    font-size: 1.2rem;
	}
	ul.toggle li {
		display: inline-block;
		margin-right: 1rem;
	}
	.toggle a.active::before {
	    width: 6vw;
	    height: 3vw;
	}
	.team #intro {
		padding-top: 22vw;
	}
}
@media screen and (max-width: 420px) {
	progress { top: 48%;}
	#injectable video {
		top: 28vw;
		margin-bottom: 52vw;
	}
}
@media screen and (max-width: 400px) {
	#intro p {
		font-size: 5vw;
		top: 2rem;
	}
	.toggle {
		top: 120vw;
	}
	.toggle a.active::before {
	    width: 9vw;
	    height: 5vw;
	}
	.novogro {
		width: 74%;
		top: 6vw;
	}
	.zoom-text {
		width: 300px;
		top: 6vw;
	}
	#putty, .video-gradient {
		top: 28vw;
	}
	
}
@media screen and (max-width: 360px) {
	.vid-nav {
		padding: 1rem 0 8.5rem;
	}
}