/* ERIC MEYER CSS RESET */

html, *, *:before, *:after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

html, body {
	background: #eaeef7;
	/* Old browsers */
	background: -moz-linear-gradient(top, #eaeef7 0%, #dee6f7 50%, #f4f6f9 86%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eaeef7 0%, #dee6f7 50%, #f4f6f9 86%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eaeef7 0%, #dee6f7 50%, #f4f6f9 86%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eaeef7', endColorstr='#f4f6f9', GradientType=0);
	/* IE6-9 */
}
:hover {
	transition: all 0.2s linear;
}

/*********************** HEADER // NAVIGATION ***********************/

header {
	background-image: linear-gradient(to right, #1f1d36, #4d4d4d);
	height: 54px;
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	-webkit-transition: top .5s;
	-moz-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
	border-bottom: solid 1px #3f3f4a;
}
header nav {
	position: absolute;
	right: 0;
	right: 5vw;
	top: 18px;
}
header nav a, footer nav a {
	color: #fff;
	font-size: .9rem;
	letter-spacing: .07rem;
	margin-left: 2rem;
}
a.active, a:hover, .toggle a:hover {
	color: #79EAB9;
}
a.logo {
	display: inline-block;
	background: url("../images/logo-wordmark.svg") no-repeat;
	background-size: contain;
	font-size: 0;
	line-height: 0;
	width: 172px;
	height: 18px;
	position: absolute;
	left: 4vw;
	top: 18px;
}
.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}

/**************************** TYPOGRAPHY ****************************/

html {
	font-family: "Forza SSm A", "Forza SSm B", sans-serif;
	font-style: normal;
}
strong {
	font-weight: 500;
}
a {
	font-family: "Forza SSm A", "Forza SSm B", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 300;
	cursor: pointer;
	transition: all 0.2s linear;
	color: #7f7cbb;
}
h1 {
	font-size: 4.4vw;
	line-height: 4.87vw;
	letter-spacing: -.07rem;
	font-weight: normal;
	color: #000000;
	white-space: nowrap;
}
h1 strong {
	font-weight: bold;
	font-size: 8.8vw;
	line-height: 8vw;
	display: block;
}
h2 {
	font-size: 4.8vw;
	font-weight: bold;
	line-height: 4.8vw;
	display: block;
	text-transform: uppercase;
}
h3 {
	font-size: 1.4rem;
	line-height: 2rem;
	margin: 0 auto 4rem;
	font-weight: 100;
	max-width: 50rem;
}
p {
	font-family: "Forza SSm A", "Forza SSm B", Forza, sans-serif;
	font-size: 1.1375rem;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: 0.6px;
}
.team p {
	margin: 0;
}

/********************** OBJECTS/POSITIONING **************************/

ul li {
	display: inline-block;
}
.logomark {
	display: block;
	position: relative;
}
.logomark::after {
	content: "";
	background-image: url("../images/logomark.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -2rem -6rem;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
progress {
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	width: 100vw;
	background: #D8E4EE;
	height: 8px;
	z-index: 96;
}
progress::-webkit-progress-bar {
	background: #D8E4EE;
}
progress::-webkit-progress-value {
	background: #7f7cbb;
	/* Old browsers */
	background: -o-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -ms-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
}
progress::-moz-progress-bar {
	background: #7f7cbb;
	background: -o-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -ms-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
}
video {
	width: 100%;
	position: relative;
	background: #fff;
	animation: fade-in;
	margin-top: -2vw;
}
.video-gradient {
	height: 12vw;
	width: 100%;
	z-index: 95;
	position: absolute;
	background: -moz-linear-gradient(top, rgba(246, 248, 251, 1) 0%, rgba(246, 248, 251, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(246, 248, 251, 1) 0%, rgba(246, 248, 251, 0) 100%);
	background: linear-gradient(to bottom, rgba(246, 248, 251, 1) 0%, rgba(246, 248, 251, 0) 100%);
}
.video-gradient-bottom {
	bottom: 0;
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.vid-nav {
	bottom: 3.5vw;
	position: absolute;
	left: 50%;
	margin-left: -45%;
	display: flex;
	justify-content: space-around;
	width: 90%;
	z-index: 99;
}
#injectable .vid-nav {
	width: 70%;
	margin-left: -35%;
}
.vid-nav li {
	position: relative;
	text-align: left;
	white-space: nowrap;
	max-width: 92px;
}
.vid-nav li:last-child {
	margin: 0;
}
.vid-nav li a {
	text-align: left;
	display: block;
	color: #000;
	font-size: 1.2rem;
	line-height: 1.6rem;
	letter-spacing: .025rem;
}
.vid-nav li a:hover {
	color: #89cda8;
}
.vid-nav li a::before {
	content: "";
	display: inline-block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: -46px;
	background-size: contain;
}
.vid-nav li a#vid1-1::before {
	width: 37px;
	background: url("../images/moldable_icon.svg") no-repeat;
}
.vid-nav li a#vid1-2::before, .vid-nav li a#vid2-2::before {
	background: url("../images/wash_icon.svg") no-repeat;
}
.vid-nav li a.playing#vid1-1::before {
	background: url("../images/moldable_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-2::before, .vid-nav li a.playing#vid2-2::before {
	background: url("../images/wash_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-3::before, .vid-nav li a.playing#vid2-3::before {
	background: url("../images/conform_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-4::before {
	background: url("../images/compress_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-5::before {
	background: url("../images/wet_icon_active.svg") no-repeat;
}
.vid-nav li a.playing#vid1-6::before {
	background: url("../images/no_mess_icon_active.svg") no-repeat;
}
.vid-nav li a#vid1-3::before, .vid-nav li a#vid2-3::before {
	background: url("../images/conform_icon.svg") no-repeat;
}
.vid-nav li a#vid1-4::before {
	background: url("../images/compress_icon.svg") no-repeat;
}
.vid-nav li a#vid1-5::before {
	background: url("../images/wet_icon.svg") no-repeat;
}
.vid-nav li a#vid1-6::before {
	height: 36px;
	background: url("../images/no_mess_icon.svg") no-repeat;
}
.vid-nav li a#vid2-1::before {
	background: url("../images/injectable_icon.svg") no-repeat;
}
.vid-nav li a.playing#vid2-1::before {
	background: url("../images/injectable_icon_active.svg") no-repeat;
}
.vid-nav li a#vid2-4::before {
	background: url("../images/clock_icon.svg") no-repeat;
	background-size: 95%;
}
.vid-nav li a.playing#vid2-4::before {
	background: url("../images/clock_icon_active.svg") no-repeat;
}
.vid-nav li a.playing, .toggle a.active {
	animation: pulse-vid-nav 1s ease-in-out infinite alternate;
}
.fixed-vidstuff {
	position: fixed;
}
@keyframes pulse-vid-nav {
	0% {
		color: #7f7cbb;
	}
	50% {
		color: #7fceea;
	}
	100% {
		color: #89cda8;
	}
}
.cube {
	width: 40%;
	height: 40%;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateX( -16deg) rotateY( -25deg);
	left: 27%;
	top: 30%;
}
.cube figure {
	margin: 0;
	width: 120%;
	height: 100%;
	display: block;
	position: absolute;
}
.cube figure.coronal {
	/* THIS IS THE VERTICAL-FRONT-FACING SLICE*/
	background: #7fceea;
	opacity: .8;
}
.cube figure.sagittal {
	/* THIS IS THE VERTICAL-SIDE-FACING SLICE*/
	transform: rotateY(90deg) translateY(0px);
	background: #7f7cbb;
	opacity: .8;
}
.cube figure.axial {
	/* THIS IS THE SIDEWAYS SLICE*/
	transform: rotateX(-90deg) translateY(0px);
	background: #79EAB9;
	opacity: .8;
}
.cube#axial figure.sagittal, .cube#axial figure.coronal {
	opacity: .1;
	background: #1f1d36;
}
.cube#sagittal figure.axial, .cube#sagittal figure.coronal {
	opacity: .1;
	background: #1f1d36;
}
.cube#coronal figure.axial, .cube#coronal figure.sagittal {
	opacity: .1;
	background: #1f1d36;
}
.cube#axial figure.coronal, .cube#sagittal figure.coronal, .cube#coronal figure.sagittal {
	opacity: .05;
}

/********************* HOME *********************/

.opaque {
	opacity: .6;
}
.home #intro {
	position: absolute;
	padding: 14vw 0 8vw 12vw;
	z-index: 80;
}
.fadeout {
	animation: fadeOut 1s ease;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fadein {
	animation: fadeIn 1s ease;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		display: none;
	}
	100% {
		opacity: 1;
		display: block;
	}
}
.fast {
	-webkit-animation-delay: .25s;
	animation-delay: .25s;
}
.home h1#introMessage {
	font-size: 8.4vw;
	position: fixed;
	/*padding: 4vw 0 0 6vw;*/
	top: 35vh;
	left: 8vw;
}
.home h1#introMessage strong {
	font-size: 14.8vw;
	line-height: 16vw;
}
.home #intro {
	width: 60vw;
}
.home .text-container {
	padding: 6rem;
}
.home #intro p {
	font-size: 1.5rem;
	position: relative;
	top: 18vw;
	max-width: 48rem;
}
.contact #intro h2 {
	position: relative;
	max-width: 36vw;
	font-weight: 100;
}
#novogro, #zoom {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.novogro {
	position: absolute;
	top: 8vw;
	left: 8.5vw;
	font-size: 0px;
	line-height: 0px;
	display: inline-block;
	background: url("../images/novogro.svg") no-repeat;
	background-size: contain;
	width: 20vw;
	height: 8vw;
	z-index: 99;
}
.toggle {
	font-size: 2rem;
}
#novogro .toggle {
	position: absolute;
	z-index: 999;
	left: 8.5vw;
	top: 22vw;
}
.toggle li {
	display: block;
	margin: 0 0 1rem;
}
.toggle a {
	text-transform: none;
	color: #2e2d38;
	opacity: 0.5;
	transition: all 0.5s ease;
}
.toggle a.active, .toggle a:hover {
	opacity: 1;
	color: #000;
	transition: all 0.5s ease;
}
.toggle a.active::before {
	content: "";
	display: inline-block;
	background: url("../images/arrow.svg") no-repeat;
	width: 1rem;
	height: .8rem;
	width: 2vw;
	height: 1.4vw;
	background-size: contain;
	margin-right: .6vw;
	transition: all 0.5s ease;
}
#putty, #injectable {
	position: relative;
	padding-top: 5rem;
}
#injectable {
	display: none;
}
.attributes {
	background-color: #2E2D38;
	padding: 8vw 0 8vw 8vw;
	color: #fff;
	z-index: 97;
}
.attributes p, .day {
	display: inline-block;
	position: relative;
	margin-right: 3vw;
	width: 25vw;
}
.attributes p {
	top: 4vw;
	margin-right: 6vw;
	font-size: 1.75vw;
}
.day {
	border: solid 4px #fff;
	font-size: 0;
	height: 25vw;
	border-radius: 100%;
	top: -9.75vw;
	margin-bottom: -9.75vw;
	text-align: center;
	box-shadow: inset 0 0 2vw #000;
}
.day::before {
	content: ;
	display: block;
	font-size: 1.5vw;
	top: -4vw;
	position: relative;
}
.zero {
	background: url("../images/zero.jpg");
	background-size: cover;
}
.zero::before {
	content: "DAY 0";
}
.seven {
	background: url("../images/seven.jpg");
	background-size: cover;
}
.seven::before {
	content: "DAY 7";
}
#zoom {
	padding: 8vw 0 6vw 8vw;
}
#zoom p {
	width: 36vw;
	margin: 3vw 0;
}
#zoom h2 {
	padding-right: 24vw;
	letter-spacing: -.15vw;
}
.zoom-nav {
	position: absolute;
}
.zoom-nav li {
	position: absolute;
	display: block;
	border-radius: 100%;
	border: solid 10px #fff;
	padding: 3px;
	background: #7f7cbb;
	/* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
}
.zoom-nav li a {
	display: block;
	width: 3.25vw;
	height: 3.25vw;
	border-radius: 100%;
	color: #000;
	background: #fff;
	text-align: center;
	padding-top: 1.25vw;
	font-size: 1vw;
	text-decoration: none;
}
.zoom-nav li.selected, .zoom-nav li.selected:hover {
	transform: scale(1.5);
	position: relative;
	z-index: 888;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.zoom-nav li.selected {
	animation-name: pulse;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		background: #7f7cbb;
	}
	50% {
		background: #7fceea;
	}
	100% {
		background: #89cda8;
	}
}
.zoom-nav li.selected a, li.six.active a, li.twelve.active a {
	animation-name: pulse-text;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}
@keyframes pulse-text {
	0% {
		color: #7f7cbb;
	}
	50% {
		color: #7fceea;
	}
	100% {
		color: #89cda8;
	}
}
.zoom-nav li:hover {
	transform: scale(1.25);
}
#histology .zoom-nav li.first {
	top: 8vw;
	left: 2vw;
}
#histology .zoom-nav li.second {
	top: 17.5vw;
	left: -2vw;
}
#histology .zoom-nav li.third {
	top: 28vw;
	left: -1.5vw;
}
#histology .zoom-nav li.fourth {
	top: 37vw;
	left: 2vw;
}
#ct .zoom-nav li.first {
	top: 8vw;
	left: 2vw;
}
#ct .zoom-nav li.second {
	top: 22.5vw;
	left: -2vw;
}
#ct .zoom-nav li.third {
	top: 37vw;
	left: 2vw;
}
.zoom-image-container {
	position: relative;
	float: right;
	width: 50vw;
	height: 50vw;
	margin-right: -3vw;
	margin-top: -18vw;
	border-radius: 100%;
	background: #7f7cbb;
	/* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
}
.zoom-image-container .images {
	background: #fff;
	width: 38vw;
	height: 38vw;
	border-radius: 100%;
	margin: 0 auto;
	position: relative;
	top: 6vw;
}
.zoom-image-container .images .image {
	width: 34vw;
	height: 34vw;
	margin: 0 auto;
	border: solid 3px #88CDAF;
	border-radius: 100%;
	position: absolute;
	top: 2vw;
	left: 2vw;
	overflow: hidden;
	background-position: center center;
	background-size: 112%;
}
.zoom-text-container h3 {
	font-size: 4.4vw;
	font-weight: 200;
	margin: 0;
}
.zoom-text-container h3 span {
	font-size: 1.5vw;
	padding-top: 2vw;
	display: block;
}
.zoom-text-container p {
	font-size: 1vw;
	line-height: 1.6vw;
	position: absolute;
	top: 47.5vw;
	max-width: 33vw;
}
.zoom-text {
	position: absolute;
	top: 40vw;
}
.zoom-text ul {
	margin: 1.5vw 0 0;
}
.zoom-text ul li {
	margin-right: 1rem;
	font-size: 1.25rem;
}
.zoom-text ul li.active a {
	border-bottom: solid 2px #ccc;
	animation: pulselink .75s ease infinite alternate-reverse;
	padding: 0 0 2px;
}
@keyframes pulselink {
	0% {
		color: #7f7cbb;
		border-color: #7f7cbb;
	}
	50% {
		color: #7fceea;
		border-color: #7fceea;
	}
	100% {
		color: #89cda8;
		border-color: #89cda8;
	}
}
#histology .images, #ct .images .visible {
	background-color: #fff;
}
#histology .images .first.six {
	background-image: url("../images/histology/6-125.jpg");
}
#histology .images .first.twelve {
	background-image: url("../images/histology/12-125.jpg");
}
#histology .images .second.six {
	background-image: url("../images/histology/6-10.jpg");
}
#histology .images .second.twelve {
	background-image: url("../images/histology/12-10.jpg");
}
#histology .images .third.six {
	background-image: url("../images/histology/6-20.jpg");
}
#histology .images .third.twelve {
	background-image: url("../images/histology/12-20.jpg");
}
#histology .images .fourth.six {
	background-image: url("../images/histology/6-40.jpg");
}
#histology .images .fourth.twelve {
	background-image: url("../images/histology/12-40.jpg");
}
#ct .images .first.six {
	background-image: url("../images/ct/6-axial.jpg");
}
#ct .images .first.twelve {
	background-image: url("../images/ct/12-axial.jpg");
}
#ct .images .second.six {
	background-image: url("../images/ct/6-sagittal.jpg");
}
#ct .images .second.twelve {
	background-image: url("../images/ct/12-sagittal.jpg");
}
#ct .images .third.six {
	background-image: url("../images/ct/6-coronal.jpg");
}
#ct .images .third.twelve {
	background-image: url("../images/ct/12-coronal.jpg");
}
.node {
	position: absolute;
	display: block;
	border-radius: 100%;
	border: solid 2px #fff;
	width: 2.5vw;
	height: 2.5vw;
	left: 0;
	top: 0;
	animation: node .75s ease infinite alternate-reverse;
	background-color: rgba(127, 124, 187, 0.8);
	z-index: 1000;
}
@keyframes node {
	0% {
		transform: scale(.8);
		background-color: rgba(127, 124, 187, 0.0);
		border-color: #fff;
	}
	50% {
		background-color: rgba(127, 206, 234, 0.2);
		border-color: #fff;
	}
	100% {
		transform: scale(1);
		background-color: rgba(137, 205, 168, 0.1);
		border-color: #fff;
	}
}
.node:hover {
	animation: none;
	background-color: rgba(127, 206, 234, 0.6);
	border-color: #fff;
}
.node::before {
	display: none;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	padding: 12px 16px;
	color: #000;
	text-align: center;
	font-size: 1.25vw;
	top: -160%;
	border-radius: 8px;
	-webkit-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.39);
	box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.39);
}
.node:hover::before, .node:active::before {
	display: block;
}
.node.implant::before {
	content: "Implant";
	left: -38px;
	width: 128px;
}
.node.marrow::before {
	content: "Bone Marrow";
	left: -82px;
	width: 206px;
}
.node.newbone::before {
	content: "New Bone";
	left: -54px;
	width: 148px;
}
#histology .first.six .node.implant {
	left: 81%;
	top: 43.5%;
}
#histology .first.six .node.newbone {
	left: 24.5%;
	top: 54.5%;
}
#histology .first.six .node.marrow {
	left: 52%;
	top: 27.5%;
}
#histology .first.twelve .node.implant {
	left: 19%;
	top: 44.5%;
}
#histology .first.twelve .node.newbone {
	left: 43.5%;
	top: 18.5%;
}
#histology .first.twelve .node.marrow {
	left: 56%;
	top: 70.5%;
}
#histology .second.six .node.implant {
	left: 61%;
	top: 81.5%;
}
#histology .second.six .node.newbone {
	left: 71.5%;
	top: 40.5%;
}
#histology .second.six .node.marrow {
	left: 52%;
	top: 53.5%;
}
#histology .second.twelve .node.implant {
	left: 72%;
	top: 39.5%;
}
#histology .second.twelve .node.newbone {
	left: 29.5%;
	top: 62.5%;
}
#histology .second.twelve .node.marrow {
	left: 29%;
	top: 27.5%;
}
#histology .third.six .node.implant {
	left: 81%;
	top: 43.5%;
}
#histology .third.six .node.newbone {
	left: 24.5%;
	top: 54.5%;
}
#histology .third.six .node.marrow {
	left: 52%;
	top: 27.5%;
}
#histology .third.twelve .node.implant {
	left: 72%;
	top: 39.5%;
}
#histology .third.twelve .node.newbone {
	left: 29.5%;
	top: 62.5%;
}
#histology .third.twelve .node.marrow {
	left: 29%;
	top: 27.5%;
}
#histology .fourth.six .node.implant {
	left: 81%;
	top: 43.5%;
}
#histology .fourth.six .node.newbone {
	left: 24.5%;
	top: 54.5%;
}
#histology .fourth.six .node.marrow {
	left: 52%;
	top: 27.5%;
}
#histology .fourth.twelve .node.implant {
	left: 72%;
	top: 39.5%;
}
#histology .fourth.twelve .node.newbone {
	left: 29.5%;
	top: 62.5%;
}
#histology .fourth.twelve .node.marrow {
	left: 29%;
	top: 27.5%;
}
.popup {
	cursor: pointer;
	display: none;
	z-index: -1;
	opacity: 0;
	border: solid 3px;
	width: 50%;
	height: 50%;
	border-radius: 100%;
	z-index: 888;
	position: absolute;
	left: 25%;
	top: 25%;
	background: #fff;
}
.popup-visible {
	opacity: 1;
	display: block;
	z-index: 1;
}
.popup.implant {
	border-color: red;
}
.popup.newbone {
	border-color: green;
}
.popup.marrow {
	border-color: blue;
}
.hidden {
	opacity: 0;
	transform: scale(0);
}
.gone {
	display: none;
}
.visible {
	opacity: 1;
	transform: scale(1);
}
#ct {
	display: none;
}
#ct .zoom-image-container {
	background: #7f7cbb;
	/* Old browsers */
	background: -moz-linear-gradient(left, -10%, #7fceea 60%, #89cda8 120%);
	background: -webkit-linear-gradient(left, #7f7cbb -10%, #7fceea 60%, #89cda8 120%);
	background: linear-gradient(to right, #7f7cbb -10%, #7fceea 60%, #89cda8 120%);
}

/******************************* TEAM ******************************/

#team {
	position: relative;
	margin-top: -28vw;
}
.team .logomark, .contact .logomark {
	background-image: url("../images/logomark.svg");
	background-repeat: no-repeat;
	background-size: 120%;
	background-attachment: fixed;
	background-position: 0;
	background-position-y: -6rem;
}
.team #intro, .contact #intro {
	padding: 14vw 0 8vw 7vw;
}
.team #intro p {
	width: 32%;
	margin: 3rem 0 0;
}
.team h3 {
	margin: 0;
}
picture {
	display: block;
	background: #7f7cbb;
	width: 100%;
	height: 18vw;
	overflow: hidden;
	position: relative;
}
.team-members picture img {
	position: absolute;
	width: 105%;
	left: -5%;
}
.team-members picture img.aaron {
	width: 114%;
	top: -16%;
}
.team-members {
	padding-left: 14vw;
}
.team-members li {
	display: inline-block;
	width: 32.8%;
	vertical-align: top;
	margin: 0 .1rem 6rem 0;
}
.team-members li:first-child {
	margin-left: 32%;
}
.team-members li h3 {
	margin: 1.5rem 0 1rem;
	font-size: 1.6rem;
}
.team-members li h4 {
	font-weight: 600;
	margin: 1rem 0;
}
.team-members li p {
	font-size: 1rem;
}
.team-members li .text-container {
	padding-right: 4vw;
}

/**************************** CONTACT ******************************/

.contact.logomark {
	background-position-y: -12rem;
}
.contact #intro h2 {
	font-size: 1.6rem;
	line-height: 2.6rem;
}
.contact #intro h2 strong {
	font-size: 2rem;
	font-weight: 400;
}
.contact #intro h2 a {
	display: block;
	margin-top: 1rem;
	font-size: 80%;
}
.contact iframe {
	display: block;
	width: 87%;
	height: 50vw;
	margin: 0 0 0 13%;
}

/**************************** FOOTER *******************************/

footer {
	padding: 8rem 8rem 4rem;
	background: #2E2D39 url("../images/pattern.svg");
	background-size: 25%;
	color: #fff;
}
footer nav a:first-child {
	margin: 0;
}
footer p {
	color: #fff;
	font-size: 22px;
}
footer h2 {
	font-size: 3.6rem;
	margin-bottom: 3rem;
	white-space: nowrap;
}
.footnote {
	text-align: right;
	margin: 0 3.25rem 0 0;
}
footer a.logo {
	position: static;
}
footer .left p {
	max-width: 500px;
}
footer .section-two {
	padding-top: 12rem;
}
p.legal {
	font-size: 13px;
	margin: 1.6rem 0 2rem;
}
.ut p {
	font-size: 14px;
	float: right;
	max-width: 400px;
}
.ut p:before {
	content: "";
	float: left;
	background: url("../images/ut.png") no-repeat;
	background-size: contain;
	width: 51px;
	height: 55px;
	margin: .6rem 2rem 0 0;
}
.left, .right {
	display: inline-block;
	width: 49.3%;
}
.mailto {
	color: #79EAB9;
	text-transform: none;
	font-family: "Georgia";
	font-size: 32px;
	display: block;
	margin: 2rem 0 0;
}

/*************************** MEDIA QUERIES *************************/

@media screen and (min-width: 1800px) {
	.team-members li h3 {
		margin: 2rem 0 1rem;
		font-size: 2.4rem;
	}
	.team-members li h4 {
		margin: 1.4rem 0;
		font-size: 1.2rem;
	}
	.team-members li p {
		font-size: 1.4rem;
	}
}
@media screen and (max-width: 1480px) {
	.vid-nav li a {
		font-size: .9rem;
		line-height: 1.4rem;
	}
	footer {
		padding: 8rem 6rem 4rem;
	}
	.zoom-text-container {
		left: 10vw;
	}
	.team #intro h1 {
		padding-top: 2vw;
	}
	#team {
		margin-top: -32vw;
	}
}
@media screen and (max-width: 1300px) {
	.team #intro h1 {
		padding-top: 2vw;
	}
	#team {
		margin-top: -38vw;
	}
	.contact iframe {
		height: 75vw;
	}
}
@media screen and (max-width: 1200px) {
	.home #intro p {
		font-size: 1.25rem;
		max-width: 38rem;
	}
	.toggle {
		font-size: 1.5rem;
	}
	.vid-nav li a {
		font-size: .8rem;
		line-height: 1.2rem;
	}
	footer {
		padding: 6rem 4rem 4rem;
	}
	.zoom-text-container p {
		font-size: 18px;
		margin: 3rem 0;
	}
	.zoom-text-container h3 {
		font-size: 4.4rem;
	}
	.zoom-text-container h3 span {
		font-size: 1.25rem;
	}
	.zoom-nav li {
		border: solid 6px #fff;
	}
	.contact #intro h2 {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
	.contact #intro h2 strong {
		font-size: 1.8rem;
	}
	.contact #intro h2 a {
		display: block;
		margin-top: .8rem;
	}
	.contact #intro h2 {
		top: -3vh;
	}
}
@media screen and (max-width: 1024px) {
	#intro {
		padding: 14vw 0 8vw 8vw;
		padding: 16vw 0 8vw 80px;
	}
	#intro h1 {
		font-size: 7.4vw;
		line-height: 7.87vw;
	}
	#intro h1 strong {
		font-size: 11.8vw;
		line-height: 11vw;
	}
	#intro p {
		font-size: 1.2rem;
	}
	.contact #intro h2 {
		left: 0vw;
		top: 2.4rem;
		max-width: 62vw;
		padding: 2vw 0 0 .9vw;
	}
	#zoom .toggle {
		top: 18vw;
	}
	.zoom-text-container {
		left: 8vw;
	}
	.zoom-text-container {
		top: 30vw;
	}
	.vid-nav {
		bottom: 5.5vw;
	}
	.vid-nav li a {
		font-size: 12px;
		line-height: 19px;
		letter-spacing: .025rem;
	}
	.vid-nav li a::before {
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		left: 0;
		top: -6px;
		background-size: contain;
	}
	.contact .text-container {
		margin-bottom: 3rem;
	}
	.contact iframe {
		height: 75vw;
		margin: 0;
		width: 100%;
	}
	#team {
		margin-top: 0;
	}
	.team #intro p {
		width: 75%;
		margin-top: 1rem;
	}
	.team-members {
		padding: 0 2vw 0 7vw;
	}
	.team-members li:first-child {
		margin-left: 0;
	}
}
@media screen and (max-width: 980px) {
	footer .section-two {
		padding-top: 6rem;
	}
	.section-one .left, .section-one .right, .section-two .left, .section-two .right {
		width: 100%;
	}
	.footnote {
		text-align: left;
		margin: 4rem 0 0;
	}
	.ut p {
		float: none;
		margin-top: 6rem;
	}
	.footnote {
		margin: 1rem 0 0;
	}
	.zoom-text-container p {
		line-height: 2rem;
		font-size: 16px;
	}
	.zoom-text-container h3 {
		font-size: 3.4rem;
	}
	.zoom-text-container h3 span {
		font-size: 1rem;
	}
	.toggle a.active::before {
		width: 2.5vw;
		height: 1.8vw;
	}
}
@media screen and (max-width: 940px) {
	.team #intro p {
		width: 90%;
	}
	.team-members li {
		width: 48.8%;
	}
	picture {
		height: 28vw;
	}
	.toggle {
		font-size: 1rem;
	}
}
@media screen and (max-width: 768px) {
	#intro {
		padding: 22vw 0 10vw 18vw;
		padding: 160px 0 10vw 110px;
	}
	.vid-nav {
		bottom: 3.5vw;
	}
	#intro p, .contact #intro h2 {
		font-size: 19px;
	}
	.contact #intro h2 {
		padding: 0;
	}
	footer h2 {
		font-size: 3rem;
		white-space: normal;
	}
	.zoom-nav {
		left: -1.5vw;
	}
	.zoom-nav li {
		border: solid 5px #fff;
	}
	.zoom-nav li a {
		width: 6.25vw;
		height: 6.25vw;
		font-size: 2vw;
		padding-top: 2.25vw;
	}
	.contact #intro h2 {
		line-height: 2rem;
	}
	.team-members li {
		margin-bottom: 3.5rem;
	}
}
@media screen and (max-width: 600px) {
	body {
		background: #fff;
	}
	*::-webkit-media-controls-panel {
		display: none!important;
		-webkit-appearance: none;
	}
	*::--webkit-media-controls-play-button {
		display: none!important;
		-webkit-appearance: none;
	}
	*::-webkit-media-controls-start-playback-button {
		display: none!important;
		-webkit-appearance: none;
	}
	.logomark::after {
		background-position: -2rem -4rem;
	}
	progress {
		display: none;
	}
	.vid-nav, #injectable .vid-nav {
		position: relative;
		display: block;
		left: initial;
		margin-left: initial;
		width: auto;
		bottom: initial;
		padding: 1rem 0 2.5rem;
	}
	.vid-nav li {
		display: block;
		max-width: 100%;
		padding-left: 14vw;
	}
	.vid-nav li a {
		display: block;
		padding: .55rem;
	}
	.vid-nav li a::before {
		display: inline-block;
		top: 10px;
		margin-right: 1rem;
	}
	.vid-nav li br {
		display: none;
	}
	progress {
		bottom: 100%;
	}
	header a.logo {
		background: url("../images/mark-full.svg") no-repeat;
		background-size: contain;
		background-position: center center;
		height: 30px;
		width: 30px;
		top: 11px;
		left: 5vw;
	}
	.logomark {
		background-position-y: -3rem;
	}
	header nav a {
		font-size: .7rem;
		margin-left: 1.5rem;
	}
	#intro {
		padding: 120px 0 8vw 12vw;
	}
	footer {
		padding: 4rem 3rem 2rem;
	}
	footer h2 {
		margin-bottom: 1rem;
	}
	.mailto {
		margin: 1rem 0 0;
	}
	.zoom-text-container {
		top: 114vw;
	}
	.zoom-text-container p {
		margin: 1.5rem 0;
	}
	.zoom-image-container {
		width: 90vw;
		height: 90vw;
	}
	.zoom-image-container .images {
		width: 74vw;
		height: 74vw;
		top: 7.5vw;
	}
	.zoom-image-container .images .image {
		width: 64vw;
		height: 64vw;
		left: 5vw;
		top: 5vw;
	}
	.zoom-nav li a {
		width: 10vw;
		height: 10vw;
		font-size: 3.5vw;
		padding-top: 3.5vw;
	}
	#ct .zoom-nav li.second {
		top: 38vw;
		left: -5.25vw;
	}
	#ct .zoom-nav li.third {
		top: 67vw;
	}
	#ct .contact #intro h2 {
		font-size: 1.2rem;
	}
	.team-members li {
		width: 96.8%;
	}
	picture {
		height: 56vw;
	}
	.vid-nav li a.playing {
		animation: none;
	}
	.toggle a.active::before {
		width: 4vw;
		height: 2.5vw;
	}
}
@media screen and (max-width: 480px) {
	.home #intro {
		width: 90vw;
	}
	video {
		width: 150%;
		right: 40vw;
		margin-top: -31vw;
	}
	video#injectable-vid {
		margin-top: -2vw;
	}
	#putty, #injectable {
		padding-top: 4rem;
		top: 28vw;
	}
	.novogro {
		width: 52vw;
		height: 18vw;
		top: 26vw;
	}
	#novogro .toggle {
		top: 70vw;
	}
	header nav a {
		font-size: .8rem;
		margin-left: .8rem;
	}
	#intro h1 {
		font-size: 9.5vw;
		line-height: 9.5vw;
	}
	#intro h1 strong {
		font-size: 16vw;
		line-height: 16vw;
	}
	#intro p {
		font-size: 3.6vw;
	}
	.contact #intro h2 {
		max-width: 82vw;
		padding: 0 0 12vw;
	}
	footer {
		padding: 4rem 2rem 2rem;
	}
	footer h2 {
		font-size: 2rem;
	}
	footer p {
		font-size: 18px;
	}
	footer nav a {
		font-size: 12px;
	}
	.mailto {
		font-size: 22px;
	}
	.ut p:before {
		display: block;
		float: none;
		margin-bottom: 1rem;
	}
	.zoom-text-container {
		top: 124vw;
	}
	.contact #intro h2 {
		font-size: 1rem;
		line-height: 1.6rem;
	}
	#putty .vid-nav {
		padding-bottom: 9.5rem;
	}
	.vid-nav li {
		padding-left: 6vw;
	}
	.toggle a.active::before {
		width: 6vw;
		height: 3vw;
	}
	.team #intro {
		padding-top: 22vw;
	}
}
@media screen and (max-width: 400px) {
	#intro p {
		font-size: 5vw;
		top: 2rem;
	}
	.toggle a.active::before {
		width: 9vw;
		height: 5vw;
	}
	#putty {
		top: 28vw;
	}
}
@media screen and (max-width: 360px) {
	.vid-nav {
		padding: 1rem 0 8.5rem;
	}
}