/* ERIC MEYER CSS RESET */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

html,body {
	background-color: #F6F8FB;
}


/*********************** HEADER // NAVIGATION ***********************/

header {
	background-image: linear-gradient(to right, #1f1d36, #4d4d4d);
	height: 78px;
	position: relative;
}

header nav {
	position: absolute;
	right: 0;
    right: 5vw;
    top: 31px;
}

header nav a {
	color: #fff;
	font-size: 1rem;
	letter-spacing: .07rem;
	margin-left: 2rem;    
}
a.active, a:hover {
	color: #79EAB9;
}
	
a.logo {
	display: inline-block;
	background: url("../images/logo-wordmark.svg") no-repeat;
	background-size: cover;
	font-size: 0px;
	line-height: 0px;
	width: 212px;
	height: 22px;
	position: absolute;
	left: 2vw;
	top: 27px;
}




/**************************** TYPOGRAPHY ****************************/

/*
font-family: "Forza SSm A", "Forza SSm B";
font-style: normal;
font-weight: 300;

font-family: "Forza SSm A", "Forza SSm B";
font-style: normal;
font-weight: 400;

*/

html {
	font-family: "Forza SSm A", "Forza SSm B", Forza, sans-serif;
	font-family: "Forza SSm A", "Forza SSm B";
	font-style: normal;
}

strong {
	font-weight: 500;
}

:hover {transition: all 0.2s linear;}

a {
	font-family: "Forza SSm A", "Forza SSm B", Forza, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 300;
	cursor: pointer;
	transition: all 0.2s linear;
}


h1 {
	font-family: Georgia;
	font-size: 4.4vw;
	line-height: 4.87vw;
	letter-spacing: -.07rem;
	font-weight: normal;
	color: #000000;
}

h1 strong {
	font-weight: bold;
	font-size: 8.8vw;
	line-height: 8vw;
	display: block;
}

p {
	font-family: "Forza SSm A", "Forza SSm B", Forza, sans-serif;
	font-size: 1.4vw;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: 0.6px;
	color: #000000;
}
/********************** OBJECTS/POSITIONING **************************/

ul li {
	display: inline-block;
}

ul.toggle li {
	display: block;
}
.logomark {
	background-image: url("../images/logomark.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: -2%;
	background-position-y: -6rem;
}

progress {
	display: block;
	margin: 0 auto;
    position: absolute;
	bottom: 18%;
	max-width: 76vw;
	width: 100%;
	left: 50%;
	margin-left: -38vw;
	background: #D8E4EE;
	height: 3px;
}

progress::-webkit-progress-bar {
	background: #D8E4EE;
}

progress::-webkit-progress-value {
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%,#7fceea 50%,#89cda8 100%); 
}

progress::-moz-progress-bar {
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%); 
	background: -webkit-linear-gradient(left, #7f7cbb 0%,#7fceea 50%,#89cda8 100%); 
	background: linear-gradient(to right, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
}

video {
	width: 100%;
	height: auto;
}

.video-gradient {
	height: 12vw;
	width: 100%;
	z-index: 96;
	position: absolute;
	background: -moz-linear-gradient(top, rgba(246,248,251,1) 0%, rgba(246,248,251,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,251,1) 0%,rgba(246,248,251,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,251,1) 0%,rgba(246,248,251,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vid-nav {
	/*text-align: center;
	z-index: 100;
	padding-left: 2vw;
	width: 100%;
	position: relative;
	margin: 0 auto;*/
	bottom: 4vw;
	position: absolute;
	left: 50%;
	margin-left: -35vw;
	display: flex;
	justify-content: space-around;
	width: 70vw;
}

.vid-nav li {
    position: relative;
    text-align: left;
	max-width: 116px;
}

.vid-nav li:last-child { margin: 0;}

.vid-nav li a {
	text-align: left;
	color: #000;
	font-size: 16px;
	line-height: 21px;
}

.vid-nav li a::before {
	content:"";
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: -46px;
	background-size: contain;
	background-repeat: no-repeat;
}

.vid-nav li a#vid1-1::before {
	width: 37px;
	height: 24px;
	background: url("../images/moldable_icon.svg");
}

.vid-nav li a#vid1-2::before {
	width: 33px;
	height: 26px;
	background: url("../images/wash_icon.svg") no-repeat;
}

.vid-nav li a#vid1-3::before {
	width: 33px;
	height: 27px;
	background: url("../images/conform_icon.svg") no-repeat;
}

.vid-nav li a#vid1-4::before {
	width: 33px;
	height: 30px;
	background: url("../images/compress_icon.svg") no-repeat;
}

.vid-nav li a#vid1-5::before {
	width: 33px;
	height: 30px;
	background: url("../images/wet_icon.svg") no-repeat;
}

.vid-nav li a#vid1-6::before {
	width: 33px;
	height: 36px;
	background: url("../images/no_mess_icon.svg") no-repeat;
}
	
/********************* HOME *********************/
#intro {
	position: relative;
	padding: 6vw 0 12vw 12vw ;
}

#intro h1 {
	white-space: nowrap;

}
	
#intro h1 strong {
}
	
#intro p {
	position: relative;
	left: 34vw;
	top: -6vh;
	max-width: 42vw;
	font-size: 1.4vw;
}

#novogro, #zoom, #histology{
	position: relative;
	width: 100%;
	overflow: hidden;
}


.novogro {
	position: absolute;
	top:10vw; 
	left:8vw;
	font-size: 0px;
	line-height: 0px;
	display: inline-block;
	background: url("../images/novogro.svg") no-repeat;
	background-size: contain;
	width:30vw;
	height:14vw;
	z-index:99;
}

.toggle {
	position: absolute;
	z-index: 2;
	left: 16.8vw;
	top: 24vw;
	font-size: 2rem;
	line-height: 4rem;
}

.toggle a {
	text-transform: none;
	text-decoration: underline;
	color: #2e2d38;
	opacity: 0.5;
}

.toggle a.active, .toggle a:hover {
	opacity: 1;
	color: #000;
	text-decoration: none;
}

.toggle a.active::before {
	content:"";
	display: inline-block;
	background: url("../images/arrow.svg") no-repeat;
	width: 20px;
	height: 18px;
	background-size: contain;
	margin-right: .8rem;	
}
#putty {
	position: relative;
}

#injectable {
	display: none;
}
#attributes {
	background-color: #2E2D38;
	padding: 3rem 4rem;
	color: #fff;
	z-index: 97;
	text-align: center;
	margin-top: -3px;
}

#attributes ul {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	font-size: 1.1rem;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

#attributes ul li:before {
	content:"";
	display: block;
	width: 40px;
	height: 30px;
	margin: 0 auto 1.5rem;
	background-repeat: no-repeat;
	background-size: contain;
}

#zero-exotherm:before {
	background: url("../images/exotherm_icon.svg");
}
#ph-neutral:before {
	background: url("../images/ph_icon.svg");
}
#weeks:before {
	background: url("../images/growth_icon.svg");
}		

#zoom .toggle {
	top: 16vw;
}

.zoom-nav {
	position: absolute;
}

.zoom-nav li {
	display: block;
	width: 4vw;
	height: 4vw;
	border-radius: 100%;
	border: solid 6px #fff;
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
	padding: .25vw;
}

.zoom-nav li a {
	display: block;
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	color: #000;
	background: #fff;
    text-align: center;
    padding-top: 26px;
    font-size: 1.2rem;
}

.zoom-image-container {
	position: absolute;
	position: relative;
	float: right;
	width: 48vw;
	height: 48vw;
	margin-right: -3vw;
	border-radius: 100%;
	background: #7f7cbb; /* Old browsers */
	background: -moz-linear-gradient(left, #7f7cbb 0%, #7fceea 50%, #89cda8 100%);
	background: -webkit-linear-gradient(left, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
	background: linear-gradient(to right, #7f7cbb 0%,#7fceea 50%,#89cda8 100%);
}

.zoom-image-container .images {
	background: #fff;
	width: 36vw;
	height: 36vw;
	border-radius: 100%;
	margin: 0 auto;
	position: relative;
	top: 6vw;
}

.zoom-image-container .images .image {
	width: 32vw;
	height: 32vw;
	margin: 0 auto;
	border: solid 3px #88CDAF;
    border-radius: 100%;
    position: relative;
    top: 2vw;
	overflow: hidden;
	background-position: center center;
	background-size: 112%;
}

#histology .images .first {
	background-image: url("../images/h010x.jpg");
}

/******************************* TEAM *******************************/
/**************************** CONTACT *******************************/
/*************************** MEDIA QUERIES **************************/
@media screen and (max-width: 1024px) {
    #intro {
    	padding: 8vw 0 8vw 12vw;
    }
	#intro h1 {
		font-size: 6.4vw;
		line-height: 6.87vw;
	}
	#intro h1 strong {
		font-size: 10.8vw;
		line-height: 10vw;
	}
	#intro p {
    	left: 0vw;
		top: 4vh;
		max-width: 70vw;
		font-size:2.4vw;
    }
}
@media screen and (max-width: 599px) {
	a.logo {
		background: url("../images/mark-full.svg") no-repeat;
		background-size: contain;
		left: 4vw;
		top: 18px;
		height: 40px;
		width: 54px;
	}
	header nav a {
		font-size: .8rem;
		margin-left: 1.5rem;
	}
}

@media screen and (max-width: 399px) {
	a.logo {
		top: 18px;
		height: 30px;
		width: 44px;
		top: 24px;	
	}
	header nav a {
		font-size: .8rem;
		margin-left: .8rem;
	}
}